venv/
# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore environment variables
.env
*.env

# Ignore log and cache files
*.log
logs/
cache/
app/models/viralDiseasePrediction/cnn_model_all.h5
